*{margin:0px;}
/***header css start***/
.hdr-menu-container li a{
    text-decoration:none;
    color:#282c3f;
}	
.hdr-menu-container li{
    list-style-type:none;
    padding:8px 15px;
}
.hdr-main-container{
    background:white;
    display:flex;
    width:100%;
    letter-spacing:1px;
    font-size:14px;
    font-weight:bold;
    font-family:sans-serif; 
    border:1px solid #fff;
    height:60px;
    position:fixed;
    top:0px;
    box-shadow:2px 10px 30px lightgray;
    

    
}
.log-container-box{margin-left:15px;}
.hdr-menu-container{
    display:flex;
    margin-left:-50px;
    margin-top:10px;
}
.rh-container{
    display:flex;
    font-size:12px;
    
}
.rhr-menu-container{
    margin-left:480px;
    margin-top:12px;
}
.rh-container li{
    list-style-type:none;
    padding:8px 15px;
}
.rh-container li a{
    text-decoration:none;
    color:#333;
    
}
    /***banner css start***/

.bnr-container-tag{
    margin:0px auto;   
}
.bn-1-container img{
    margin-top: 70px;           
}
.bn-2-container{
    margin-top:22px;
}
.bn-3-container img{
    margin-top:30px;
    margin-bottom: 20px;   
}
.hdg-container-box{
    font-size:30px;
    margin-left:40px;
    font-family:Whitney,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
    letter-spacing:5px;
    font-weight:500;

}
/***section css start**/
.scn-blocks-container{
    
    display:flex;
    flex:55%;
    justify-content:space-between;
    margin-left:60px;
    margin-right:60px;
    margin-top:45px;
    
}
.sc-deals-container img{
    height:300px;
    width:190px;
    margin-top:8px;}
.sc-block-contain img{
    height:220px;
    width:180px;  
}
.meg-menu-container{
    display:none;
    width:80%;
    overflow:auto;
    background:white;
    margin-top:27px;
    margin-left:-20px;

}
.mnu-container-box li:hover .meg-menu-container{
    display:block;
    position:absolute;
    
}
.box-inr-contain{
    margin-top:10px;
    display:flex;
    justify-content:space-between;
    
}
.hd-inner-container{
    color:hotpink;
}
.inr-menu-container{
    font-weight:450;
    font-family:Whitney,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica;
    letter-spacing:0px;
    
    
    
}
.inr-menu-container li a{
    font-size:13px;
    margin-left:-15px;
    margin-bottom:-5px;
}
.inr-menu-container li a:hover{
    color:black;
    font-weight:700;
}
.ftr-head-container{
    padding:20px;
    margin-left:20px;
}
.ftr-para-container{
    padding:20px;
    font-weight:100;
    font-size:13px;
    letter-spacing:1px;
    font-family:Whitney,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica;
}
.ftr-container-end{
    text-align: center;
}

/* tshits section tag start */
.scn-tshirt-sect{
    margin-top: 120px;
}
.tst-img-container{
    margin: 40px 40px 0px 20px;
    border: 2px rgba(52, 50, 50, 0.1) solid;
    display: inline-block;
    padding: 30px;
    text-align: center;
    
    /* align-items: space-between; */
}
.tst-img-container img{
    height: 300px;
    width: 180px;
    align-items: space-between;
    
}
.tst-img-container h4,h5,input{
    margin-top: 10px;
    border-radius: 4px;
}
.tst-img-container input:hover{
    cursor: pointer;
    color: whitesmoke;
    background-color: darkmagenta;
}
.tst-img-container:hover{
    transform: scale(0.99);
}
/* tshits section tag end */