*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
 
}
/***header css start***/
.hdr-menu-container li a{
    text-decoration:none;
    color:#282c3f;
}	
.hdr-menu-container li{
    list-style-type:none;
    padding:8px 15px;
}
.hdr-main-container{
    background:white;
    display:flex;
    width: 100%;
    overflow: none;
    letter-spacing:1px;
    font-size:14px;
    font-weight:bold;
    font-family:sans-serif; 
    border:1px solid #fff;
    height:60px;
    position:fixed;
    top:0px;
    box-shadow:2px 10px 30px lightgray;
    

    
}
.log-container-box{margin-left:15px;}
.hdr-menu-container{
    display:flex;
    margin-top:10px;
}
.rh-container{
    display:flex;
    font-size:12px;
    
}
.rhr-menu-container{
    margin-left:480px;
    margin-top:12px;
}
.rh-container li{
    list-style-type:none;
    padding:8px 15px;
}
.rh-container li a{
    text-decoration:none;
    color:#333;
    
}
    /***banner css start***/

.bnr-container-tag{
    margin:0px auto;   
}
.bn-1-container img{
    margin-top: 70px;           
}
.bn-2-container{
    margin-top:22px;
}
.bn-3-container img{
    margin-top:30px;
    margin-bottom: 20px;   
}
.hdg-container-box{
    font-size:30px;
    margin-left:40px;
    font-family:Whitney,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
    letter-spacing:5px;
    font-weight:500;

}
/***section css start**/
.scn-blocks-container{
    width: 90%;
    margin: auto;
    display:flex;
    /* text-align: center; */
    /* flex:55%; */
    justify-content:space-evenly;
    /* margin-left:40px;
    margin-right:40px;
    margin-top:45px; */
    
}
.sc-block-contain{
    width: auto;
}
.sc-deals-container img{
    height:300px;
    width:190px;
    margin-top:8px;}
.sc-block-contain img{
    height:220px;
    width:180px;  
}
.meg-menu-container{
    display:none;
    width:75%;
    overflow:auto;
    background:white;
    margin-top:27px;
    /* margin-left:-20px; */

}
.mnu-container-box li:hover .meg-menu-container{
    display:block;
    position:absolute;
    
}
.box-inr-contain{
    margin-top:10px;
    display:flex;
    justify-content:space-between;
    
}
.hd-inner-container{
    color:hotpink;
    width: 20%;
    margin-right: 50px;
}
.inr-menu-container{
    font-weight:450;
    font-family:Whitney,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica;
    letter-spacing:0px;
    width: 80%;
    
    
    
}
.inr-menu-container li a{
    font-size:13px;
    margin-left:-15px;
    margin-bottom:-5px;
}
.inr-menu-container li a:hover{
    color:black;
    font-weight:700;
}
.ftr-head-container{
    padding:20px;
    margin-left:20px;
}
.ftr-para-container{
    padding:20px;
    font-weight:100;
    font-size:13px;
    letter-spacing:1px;
    font-family:Whitney,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica;
}
.ftr-container-end{
    text-align: center;
}

/* tshits section tag start */
.scn-tshirt-sect{
    margin-top: 120px;
}
.tst-img-container{
    margin: 40px 40px 0px 20px;
    border: 2px rgba(52, 50, 50, 0.1) solid;
    display: inline-block;
    padding: 30px;
    text-align: center;
    
    /* align-items: space-between; */
}
.tst-img-container img{
    height: 300px;
    width: 180px;
    align-items: space-between;
    
}
.tst-img-container h4,h5,input{
    margin-top: 10px;
    border-radius: 4px;
}
.tst-img-container input:hover{
    cursor: pointer;
    color: whitesmoke;
    background-color: darkmagenta;
}
.box-inr-contain{
    width: 20%;
}
.bx-contain{
    margin-left:80px;
    text-align: center;
    justify-content: flex-start;
    /* justify-items: flex-start; */
}
/* tshits section tag end */


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color:#bfc6ca;
}

header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  background-color: #fff;
}

.nav{
  max-width: 1200px;
  margin: auto;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  font-size: 1.1rem;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  color:#ffffff;
}

.box{
  color:white;
  width: 30px;
  height: 30px;
  text-align: center;
  position: relative;
}

.cart-count{
  position: absolute;
  background-color: #181819;
  top: -5px;
  right: 0;
  padding: 3px;
  height: 20px;
  width: 20px;
  line-height:20px ;
  border-radius: 50%;
  z-index: 99;
}

#cart-icon{
  font-size: 1.5rem;
  cursor: pointer;
  padding-top: 10px;
  color: #181819;
}

.img-tshirt-container{
  width: 200px;
  height: 300px;
}

.container{
  max-width: 1200px;
  padding: 4rem;
  margin: auto;
  width: 100%;
}

h2.title{
  font-size: 3rem;
  font-weight: 700;
  margin-top: 40px;
  margin-bottom: 40px;
  color:#171a16;
   
  /* text-align: center; */
}

.shop-content{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(220px,auto));
  gap:1.5rem;
  justify-content: center;
  align-content: center;
}

.food-box{
  position: relative;
  background-color: #fff;
  padding: 10px;
  /* box-shadow: 0 1px 4px rgba(40, 37, 37, 0.1); */
  border-radius: 3px;
}

.fd-title-container{
  font-size: 1rem;
  font-weight: 400;
  color:#ff6348;
}

.food-price{
  font-weight:500 ;
}

.add-cart{
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #2ed573;
  color:white;
  padding: 10px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: 0.5s;
}

.add-cart:hover{
  background-color:rgba(255, 0, 0, 0.786);
}
  

.cart{
  position: fixed;
  top: 0;
  right: -100%;
  width: 400px;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 20px;
  background-color: white;
  box-shadow: 0 1px 4px rgba(40, 37, 37, 0.1);
  z-index: 100;
}

.cart-active{
  right:0;
  transition: 0.5s;
}

.cart-title{
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
  padding-bottom:20px ;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

.cart-box{
  display: grid;
  grid-template-columns: 32% 50% 18%;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  padding-bottom: 10px;
}

.cart-img{
  width: 75px;
  height: 75px;
  object-fit: cover;
  border:2px solid  rgba(0,0,0,0.1);
  padding: 5px;
}
.detail-box{
  display: grid;
  row-gap: 0.5rem;  
}

.price-box{
  display: flex;
    justify-content: space-between; 
}

.cart-food-title{
   font-size: 1rem;
   text-transform: uppercase;
   color:#ff6348;
   font-weight: 500;
}

.cart-price{
  font-weight: 500;
}

.cart-quantity{
  border:1px solid rgba(0,0,0,0.1);
  outline:none ;
  width: 2.4rem;
  text-align: center;
  font-size: 1rem;
}

.cart-remove{
  font-size: 24px;
  color:red;
  cursor: pointer;
}

.ttl-container-box{
  display: flex;
  justify-content: flex-end;
  margin-top: 1.5rem;
}

.tt-title-contain{
  font-size: 1rem;
  font-weight: 600;
}

.tt-price-contain{
  margin-left: 0.5rem;
}

.btn-buy-container{
  padding: 12px 20px;
  background-color:#2f3542;
  color:#fff;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}

#cart-close{
  position: absolute;
  top: 1rem;
  right: 0.8rem;
  font-size: 2rem;
  cursor: pointer;
}